*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    color: #fff;
/* }
#container{
    width: 768px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}
h1{
    font-size: 24px;
}
.img{
    width: 100%;*/
} 